<h1> All Upcoming Events</h1>


<div>
  <% @events.each do |event| %>
    <%=render event%>
    <p>
    <%=link_to "Show this event",event%>
    
    </p>
    <%=event.event_date%>
  <% end %>
</div>

<%= link_to "New Event", new_event_path%>
